.nav-img {
  width: 55px;
  height: 55px;
  margin-left: 20px;
}

footer {
  background-color: black;
  /* Permitir com que o rodapé fique com seu 
  conteúdo flexível */
  display: flex;
  /* Dispor o conteúdo em linha */
  flex-direction: row;
  /* Ajustar o conteúdo ao centro com Justify-Content e Align-intens */
  justify-content: center;
  align-items: center;
  height: 140px;
}

#endereco {
  font-family: verdana;
  /* font-family font, tipo de font */
  font-size: 12pt;
  /* font-size: tamanho da font; */
  color: white;
  /* color: cor da font */
  width: 300px;
  text-align: center;
}

#redes {
  position: absolute;
  right: 50px;
}

#redes ul {
  /* Retirar as bolinhas de marcação */
  list-style: none;
}

/* Vamos dispor a imagens das redes
em linha com display inline-block */
#redes ul li {
  display: inline-block;
  margin: 10px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}
/* ========== Formatação da IMG Home ========== */
#imghome {
  text-align: center;
}

#imghome img {
  width: 400px; /*largura da imagem*/
  height: 400px; /*altura da imagem*/
  /* arredondar os cantos da imagem */
  border-radius: 250px;
  opacity: 0.7; /*colocar a imagem em 70% de opacidade*/
  margin: 20px;
  /* Efeito de transição. Isso fará com que a imagem tenha
  uma animação quando passar o mouse sobre ela */
  transition: ease 1s;
}
#imghome img:hover {
  opacity: 1;
  /* width: 500px;
  height: 500px; */
  transform: scale(1.2);
  /*transform: rotate(360deg); /*girar a imagem em 360graus*/
}

h2 {
  font-family: verdana;
  font-size: 20pt;
  margin: 50px;
  padding-left: 100px;
}
main p {
  margin: 10px;
  width: 80%;
  /* Para alinhar um objeto ao centro, você pode usar
    margin-left e margin-right auto para os dois */
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lucida Sans";
  font-size: 12pt;
  /* Espaçamento entre linhas om o comando line-height */
  line-height: 30px;
}
/*========== Fim da Formatação IMG HOME ========== */
